#subject-tip {
  position: absolute;
  top: 0;
  width: 200px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd
}

#subject-tip h3 {
  background: none;
  font-size: 16px;
  color: #111;
  height: auto;
  margin-left: 0
}

#subject-tip .release-year {
  margin-left: 8px;
  color: #aaa
}

#subject-tip .star {
  margin: 7px 0 0
}

#subject-tip .rater-num {
  color: #111;
  margin-left: 2px
}

#subject-tip .subject-intro {
  margin-top: 08px;
  padding: 10px;
  background-color: #f7f7f7;
  color: #111
}

.subject-tip-bd {
  position: relative;
  color: #111;
  margin-top: 7px
}

.subject-tip-bd li {
  line-height: 20px;
  overflow: hidden;
  zoom: 1;
  color: #111
}

.subject-tip-bd li span {
  margin-right: 5px
}

.subject-tip-bd li .label {
  float: left;
  padding: 0
}

.subject-tip-bd .director {
  margin-top: 10px
}

.placeholder {
  color: #bbb
}

#screening, #reviews {
  margin-bottom: 36px
}

#subject-tags {
  margin-bottom: 30px
}

#new-movies {
  margin-bottom: 16px
}

#douban-guess {
  margin-bottom: 32px
}

#doulists {
  margin-bottom: 8px
}

#cinemas-search {
  margin-bottom: 28px
}

#cinemas-search #city #cities-list {
  width: 244px;
  padding: 15px;
  left: -1px;
  top: 30px
}

#cinemas-search .cities-list-hd {
  padding: 0 0 10px
}

#cinemas-search #cities-list .arrow {
  left: 13px
}

#cinemas-search #cinemas-suggestion-list {
  width: 274px;
  left: -72px
}

#cinemas-search .cities-list-hd span {
  margin-right: 15px
}

#mobile-apps {
  margin-bottom: 40px
}

#movie_home_left_bottom {
  margin-bottom: 20px
}

#subject-tip h3 {
  background: none;
  font-size: 16px;
  color: #111;
  height: auto;
  margin-left: 0
}

#subject-tip .release-year {
  margin-left: 8px;
  color: #aaa
}

#subject-tip .rater-num {
  color: #111;
  margin-left: 2px
}

#subject-tip .subject-intro {
  margin-top: 08px;
  padding: 10px;
  background-color: #f7f7f7;
  color: #111
}

#subject-tip .star {
  margin: 7px 0 0
}

.subject-tip-bd li {
  line-height: 20px;
  overflow: hidden;
  zoom: 1;
  color: #111
}

.subject-tip-bd li span {
  margin-right: 5px
}

.subject-tip-bd li .label {
  float: left;
  padding: 0
}

.subject-tip-bd .director {
  margin-top: 10px
}




.gaia .detail-pop .collect-area a:hover {
  border: 1px solid #999;
  background: none;
  color: #111
}

.gaia .more:hover {
  background: #eee;
  color: #37a
}

.gaia .more:active {
  position: relative;
  top: 2px
}

.gaia.gaia-lite .fliter-wp h2 .activate:hover {
  background: none
}



.gaia.gaia-lite .tags label.activate:hover {
  color: #111;
  background: none
}

@-webkit-keyframes fadeIn {
  0% {
    top: -200px
  }
  100% {
    top: 0
  }
}

@-moz-keyframes fadeIn {
  0% {
    top: -200px
  }
  100% {
    top: 0
  }
}

@-o-keyframes fadeIn {
  0% {
    top: -200px
  }
  100% {
    top: 0
  }
}

@keyframes fadeIn {
  0% {
    top: -200px
  }
  100% {
    top: 0
  }
}

@media (max-device-width: 640px) {
  .gaia {
    width: 100%;
    overflow: hidden
  }

  .gaia .sort, .gaia .check {
    float: none;
    margin-bottom: 10px
  }

  .gaia .check {
    margin-left: 2px
  }

  .gaia .sort label, .gaia .check label {
    margin: 0 10px 0 0
  }

  .gaia .list {
    width: 110%
  }

  .gaia .item {
    width: 93px
  }

  .gaia .item .cover-wp {
    height: 132px
  }

  #wrapper {
    padding-bottom: 10px !important
  }
}
